
.avatar img {

    width: 350px;
    
    height: 350px;
    
    max-width: 350px;
    
    max-height: 350px;
    
    -webkit-border-radius: 50%;
    
    -moz-border-radius: 50%;
    
    border-radius: 50%;
    
    border: 5px solid rgba(255,255,255,0.5);
    
    }
    
    .profileImage{
        margin-top: 200px
    }
    .profileName{
        margin-top: 200px;
        color: rgb(12, 12, 11);
    }
    .profileBook{
        margin-top: 200px;
    }
    .profilejumbo{
        position : absolute;
        z-index: 1;
        height: 300px;
        margin-top: 250px;
       
    }
    .calenderView{
        margin:20px;
        margin-left: 40px;
    }
    