.img-fluid{
    width: 100%;
    height: 600px;
    margin-top: -180px;
}
.welcome{
    text-align: center;
    font-weight: 500;
    
}
.subwelcome{
    text-align: center;
    
}
.searchForm{
    margin-top: 80px;
    
}

.searchinstruction{
    margin-left: 20px;
    margin-bottom: 10px;
}
.jumboHome{
    position: relative;
    margin-top: -420px;
    color:black;
    background-color: white;
    opacity: 0.45;
}