.img-fluid{
    width: 100%;
    height: 600px;
    margin-top: -180px;
}
.welcome{
    text-align: center;
    font-weight: 500;
    
}
.subwelcome{
    text-align: center
}
.jumbotron{
    margin-top: -420px;
    color: white;
}
.dropdownButton{
    color: transparent;
}
